<template>
  <div>
    <table v-if="adc" class="bordered">
      <thead>
        <tr>
          <th colspan="4">{{ adc.source }}</th>
        </tr>
        <tr>
          <th colspan="4">{{ adc.time | formatTime }}</th>
        </tr>
        <tr>
          <th>Measurement</th>
          <th>Value</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(obj, idx) in adc.data" :key="idx">
          <td>{{ obj.name }}</td>
          <td>{{ obj.val | formatVal }}</td>
          <td>{{ obj.units }}</td>
        </tr>
      </tbody>
    </table>
    <table v-else class="bordered">
      <thead>
        <tr>
          <th colspan="4">{{ name }}: no data yet</th>
        </tr>
      </thead>
    </table>
  </div>
</template>
<script>
  import moment from 'moment';

  export default {
      props: ["adc", "name"],
      filters: {
          formatVal: function(x) {
              return Number(x).toPrecision(5);
          },
          formatTime: function(ts) {
              let m = moment(ts, "YYYY-MM-DDTHH:mm:ss.SSSSSSSSSZ");
              return m.format();
          }
      }
  }
</script>
<style scoped>
</style>
