<template>
  <table id="env" class="bordered">
    <thead>
      <tr>
        <th colspan="4">BMEPR Sensor</th>
      </tr>
      <tr>
        <th>Time</th>
        <th>Temperature (&#8451;)</th>
        <th>Relative Humidity (%)</th>
        <th>Pressure (bar)</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="dsrc">
        <td>{{ dsrc.time | formatTime }}</td>
        <td>{{ dsrc.data.temp }}</td>
        <td>{{ dsrc.data.rh }}</td>
        <td>{{ dsrc.data.pr }}</td>
      </tr>
      <tr v-else>
        <td colspan="4">No data yet ...</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
  import moment from 'moment';
  export default {
      props: ["dsrc"],
      filters: {
          formatVal: function(x) {
              return Number(x).toPrecision(5);
          },
          formatTime: function(ts) {
              let m = moment(ts, "YYYY-MM-DDTHH:mm:ss.SSSSSSSSSZ");
              return m.format();
          }
      }
  }
</script>
<style scoped>
</style>
