<template>
  <div>
    <fieldset>
      <legend>Focus Adjustment:</legend>
      <div class="param">
        <span class="key">Motor state:</span>
        <span class="value">{{state}}</span>
      </div>
      <div class="param">
        <span class="key">Brake:</span>
        <span class="value">{{braking ? 'ON' : 'OFF'}}</span>
      </div>
      <div class="param">
        <span class="key">Counter:</span>
        <span class="value">{{counts}}</span>
      </div>
      <div class="bbox">
        <button v-bind:disabled="!enabled || state == 'SEEK' || jogActive"
                v-tooltip.top="helpFor('forward')"
                type="button"
                class="control-button"
                v-on:click="jogForward(1000)">Forward</button>
        <button v-bind:disabled="!enabled || state == 'SEEK' || jogActive"
                v-tooltip.top="helpFor('reverse')"
                type="button"
                class="control-button"
                v-on:click="jogReverse(1000)">Reverse</button>
      </div>
      <div class="bbox">
        <input type="number" class="cmd"
               v-tooltip.top="helpFor('seek')"
               autocomplete="off"
               placeholder="Enter desired position"
               v-model="seek"
               v-on:keyup.enter="seekTo()"
               v-bind:disabled="!enabled || state == 'SEEK' || jogActive"
               />
      </div>
      <div class="bbox">
        <button v-bind:disabled="!enabled"
                type="button"
                class="control-button"
                v-on:click="$emit('send-command', 'FOCUS,STOP')">Stop</button>
        <button v-bind:disabled="!enabled || state == 'SEEK' || jogActive"
                type="button"
                class="control-button"
                v-on:click="$emit('send-command', 'FOCUS,ZERO')">Zero Counter</button>
      </div>
    </fieldset>
    <fieldset>
      <legend>Motor DAC setting (0-4095):</legend>
      <div>
        <input type="number"
               min="0"
               max="4095"
               step="1"
               v-model="dacValue">
        <span class="validity"></span>
        <button
          type="button"
          class="submit-button"
          v-bind:disabled="!enabled"
          v-on:click="dacCommand()">Set DAC</button>
      </div>
    </fieldset>
  </div>
</template>
<script>
  export default {
      props: ["enabled", "state", "counts", "braking", "dac"],
      data: function() {
          return {
              seek: "",
              dacValue: this.dac,
              jogActive: false,
          }
      },
      methods: {
          jogForward: function(interval) {
              this.jogActive = true;
              this.$emit('send-command', `FOCUS,JOG,F,${interval}`);
              var self = this;
              setTimeout(() => { self.jogActive = false; }, interval+100);
          },
          jogReverse: function(interval) {
              this.jogActive = true;
              this.$emit('send-command', `FOCUS,JOG,R,${interval}`);
              var self = this;
              setTimeout(() => { self.jogActive = false; }, interval+100);
          },
          seekTo: function() {
              this.$emit('send-command', `FOCUS,SEEK,${this.seek}`);
              this.seek = "";
          },
          dacCommand: function() {
              if (this.dacValue >= 0 && this.dacValue <= 4095) {
                  // Value is sent as a 4-character hex string
                  let text = Number(this.dacValue)
                      .toString(16).padStart(4, "0").toUpperCase();
                  this.$emit("send-command", `FDAC,${text}`);
              }
          },
          helpFor: function(item) {
              var text = "";
              switch(item) {
              case "forward":
                  text = `Run the motor in the forward direction for 1
      second. This increases the focal distance and the counter.`;
                  break;
              case "reverse":
                  text = `Run the motor in the reverse direction for 1
      second. This decreases the focal distance and the counter.`;
                  break;
              case "seek":
                  text = `Enable SEEK mode by typing the desired motor
      position (counts) into this box and pressing Enter`;
                  break;
              }
              return text;
          }
      }
  }
</script>
<style scoped>
  .param, .bbox {
      margin-top: 1em;
      display: flex;
      align-items: center;
  }
  .key {
      font-weight: bold;
  }
  .value {
      text-align: left;
      margin-left: 2.5em;
  }
  .control-button {
      display: inline-block;
      border-width: 2px;
      width: 90px;
  }

  fieldset {
      margin-bottom: 1.5em;
  }

  input::-webkit-input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #131313;
  }

  input::-moz-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #131313;
  }

  input::input-placeholder {
      font-style: italic;
      font-weight: 300;
      color: #131313;
  }

  input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
    color: red;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
    color: green;
}
</style>
