<template>
  <fieldset>
    <legend>Fan{{fan_id}} speed:</legend>
    <div>
      <input type="radio" id="off" value="0" v-model.number="speed" checked>
      <label for="off">Off</label>
      <input type="radio" id="med" value="16" v-model.number="speed">
      <label for="med">Medium</label>
      <input type="radio" id="high" value="31" v-model.number="speed">
      <label for="high">Max</label>
    </div>
    <div>
      <button
        type="button"
        class="submit-button"
        v-bind:disabled="!enabled || waiting"
        v-on:click="setFan()">Set Speed</button>
    </div>
  </fieldset>
</template>
<script>
  export default {
      props: ["enabled", "fan_id", "setting"],
      data: function() {
          return {
              speed: 0,
              fan: "",
              waiting: false
          }
      },
      methods: {
          setFan: function() {
              this.waiting = true;
              this.$emit("send-command", `HCB,SET,FAN${this.fan_id},${this.speed}`);
          },
      },
      watch: {
          setting: function(newVal) {
              if(newVal.data.key == this.fan) {
                  this.waiting = false;
              }
          }
      },
      created() {
          this.fan = `FAN${this.fan_id}`;
      }
  }
</script>
<style scoped>
div:first-of-type {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid black;
}
</style>
