<template>
  <div>
    <div>
      <table id="hcb" class="bordered">
        <thead>
          <tr>
            <th>Time</th>
            <th>Heatsink Temp (&#8451;)</th>
            <th>Heatpad Temp (&#8451;)</th>
            <th>Avg Temp (&#8451;)</th>
            <th>PWM</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="alltemp">
            <td>{{ alltemp.time | formatTime }}</td>
            <td>{{ alltemp.data.t_heatsink }}</td>
            <td>{{ alltemp.data.t_heatpad }}</td>
            <td>{{ alltemp.data.t_avg }}</td>
            <td>{{ alltemp.data.pwm }}</td>
          </tr>
          <tr v-else>
            <td colspan="5">No data yet ...</td>
          </tr>
        </tbody>
      </table>
    </div>
    <fieldset>
      <legend>Heatpad PWM (0-30):</legend>
      <div class="button-box">
        <input type="number"
               min="0"
               max="30"
               step="1"
               v-model="pwmValue">
        <span class="validity"></span>
        <button
          type="button"
          class="submit-button"
          v-bind:disabled="!enabled"
          v-on:click="$emit('send-command', `HCB,SET,HEATPAD_PWM,${pwmValue}`)">Set PWM</button>
      </div>
    </fieldset>
  </div>
</template>
<script>
  export default {
      props: ["enabled", "alltemp", "setting", "set"],
      data: function() {
          return {
              pwmValue: 0
          }
      },
      computed: {
      },
  }
</script>
<style scoped>
.button-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

fieldset {
    margin-top: 5px;
}

.control-button {
    display: block;
    border-width: 2px;
    width: 150px;
}

.active-border {
    border-color: #39a746;
}

.inactive-border {
    border-color: #af2d3d;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
    color: red;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
    color: green;
}

</style>
