<template>
  <div>
    <button v-if="!(ticker || enabled)"
            v-tooltip.top="helpFor('lasers')"
            type="button"
            class="control-button inactive-border"
            v-on:click="enableLaser(60000)">Enable Lasers</button>
    <button v-else
            type="button"
            class="control-button active-border"
            v-on:click="disableLaser()">Disable Lasers</button>
    <PowerButton
      v-for="laser in lasers" :key="laser.sys"
      v-bind:sys="laser.sys"
      v-bind:name="laser.name"
      v-bind:state="lpower[laser.sys]"
      v-on:send-command="fwdCommand"/>
    <fieldset>
      <legend>Target laser DAC setting (0-32767):</legend>
      <div>
        <input type="number"
               min="0"
               max="32767"
               step="1"
               v-model="ldacValue">
        <span class="validity"></span>
        <button
          type="button"
          class="submit-button"
          v-bind:disabled="!(ticker || enabled)"
          v-on:click="ldacCommand()">Set LDAC</button>
      </div>
    </fieldset>
  </div>
</template>
<script>
  import PowerButton from './PowerButton.vue'

  export default {
      components: {PowerButton},
      props: ["lasers", "enabled", "ldac", "lpower"],
      data: function() {
          return {
              ticker: null,
              ldacValue: this.ldac,
          }
      },
      methods: {
          fwdCommand: function(text) {
              this.$emit("send-command", text);
          },
          enableLaser: function(interval) {
              let that = this;
              const f = function() {
                  that.$emit("send-command", "LASER,1");
              }
              f();
              this.ticker = setInterval(f, interval);
              this.$emit("watchdog-enabled");
          },
          disableLaser: function() {
              this.stopWatchdog();
              this.$emit("send-command", "LASER,0");
          },
          stopWatchdog: function() {
              if (this.ticker) {
                  clearInterval(this.ticker);
                  this.ticker = null;
                  this.$emit("watchdog-disabled");
              }
          },
          ldacCommand: function() {
              if (this.ldacValue >= 0 && this.ldacValue <= 32767) {
                  // Value is sent as a 4-character hex string
                  let text = Number(this.ldacValue)
                      .toString(16).padStart(4, "0").toUpperCase();
                  this.$emit("send-command", `LDAC,${text}`);
              }
          },
          helpFor: function(item) {
              var text = "";
              switch(item) {
                  case "lasers":
                  text = `Enabling a laser starts a watchdog process which
      will keep the laser activated. The watchdog will automatically
      shutdown if you leave this page. Only one laser may be powered at a time`;
                  break;
              }

              return text;
          }
      },
      watch: {
          enabled: function(newVal, oldVal) {
              if (oldVal && !newVal) {
                  if (this.ticker) {
                      clearInterval(this.ticker);
                      this.ticker = null;
                      this.$emit("watchdog-disabled");
                  }
              }
          }
      },
      beforeDestroy: function() {
          this.stopWatchdog();
      }
  }
</script>
<style scoped>
.control-button {
    display: block;
    border-width: 2px;
    width: 150px;
}

.active-border {
    border-color: #39a746;
}

.inactive-border {
    border-color: #af2d3d;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
    color: red;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
    color: green;
}
</style>
