<template>
  <div id="app">
    <h2>Inputs</h2>
    <div class="table-box">
      <AdcTable
        v-for="name in adcs"
        v-bind:key="name"
        v-bind:name="name"
        v-bind:adc="proc[name]"/>
    </div>
    <BmeprTable
      v-bind:dsrc="BMEPR"/>

    <h2><span v-tooltip="helpFor('power')">Power Switches</span></h2>
    <p v-if="POWER.time"> Last update: {{ POWER.time | formatTime }}</p>
    <p v-else>No data yet ...</p>
    <PowerButton
      v-for="name in pwren"
      v-tooltip.top="helpFor(name)"
      v-bind:sys="name"
      v-bind:key="name"
      v-bind:name="name"
      v-bind:state="powerState[name]"
      v-on:send-command="sendCmd($event)"/>

    <h2>Laser Control</h2>
    <LaserControl
      ref="lctl"
      v-bind:lasers="lasers"
      v-bind:enabled="powerState['LASER5']"
      v-bind:ldac="ldacValue"
      v-bind:lpower="laserPower"
      v-on:send-command="sendCmd($event)"/>

    <h2>Focus Motor</h2>
    <Focus
      v-bind:enabled="powerState['FOCUS']"
      v-bind="FSTAT.data"
      v-bind:dac="fdacValue"
      v-on:send-command="sendCmd($event)"/>

    <h2>Heater Control Board</h2>
    <HcbFan
      v-bind:fan_id="1"
      v-bind:setting="HCB.SETTING"
      v-bind:enabled="powerState['HCB']"
      v-on:send-command="sendCmd($event)"/>
    <HcbSettings
      v-bind:enabled="powerState['HCBMODE']"
      v-bind:alltemp="HCB.ALLTEMP"
      v-bind:set="HCB.SET"
      v-bind:setting="HCB.SETTING"
      v-on:send-command="sendCmd($event)"/>
    <Version/>
  </div>
</template>

<script>
  import AdcTable from './components/AdcTable.vue'
  import BmeprTable from './components/BmeprTable.vue'
  import PowerButton from './components/PowerButton.vue'
  import LaserControl from './components/LaserControl.vue'
  import Focus from './components/Focus.vue'
  import HcbFan from './components/HcbFan.vue'
  import HcbSettings from './components/HcbSettings.vue'
  import Version from './components/Version.vue'
  import moment from 'moment'

  export default {
      name: "App",
      components: {
          AdcTable, BmeprTable, PowerButton, LaserControl,
          Focus, HcbFan, HcbSettings, Version
      },
      data: function() {
          return {
              BMEPR: null,
              IMAGS: null,
              BSTAT: null,
              HCB: {ALLTEMP: null, SETTING: null, SET: null},
              FSTAT: {state: "", braking: false, counts: 0},
              proc: {},
              POWER: {data: {}, time: ""},
              adcs: ['ADC0R', 'ADC1R', 'ADC2R', 'ADC3R', 'ADC4R',
                     'ADC5R', 'ADCLR', 'HCB.ADC'],
              pwren: [ 'FOCUS', 'TB', 'BEXP', 'CCD',
                        'HCB', 'HCBMODE', 'CAM1', 'CAM2', 'UV', 'LED1', 'LED2'],
              powerState: {},
              laserPower: {},
              lasers: [
                  {sys: "LASER12", name: "Target"},
                  {sys: "LASER28", name: "Viron"},
              ],
              ldacValue: 0,
              fdacValue: 0,
          }
      },
      methods: {
          sendCmd: function(text) {
              let fd = new FormData();
              fd.append("text", text);
              fetch("/pdu/cmd", {
                  method: "POST",
                  body: fd,
              }).then(resp => {
                  if(!resp.ok) {
                      throw new Error(`HTTP error! status: ${resp.status}`);
                  }
              }).catch(e => {
                  console.log("sendCmd failed: " + e.message);
              });
          },
          helpFor: function(item) {
              var text = "";
              switch(item) {
              case "FOCUS":
                  text = "Focus motor";
                  break;
              case "TB":
                  text = "Timing board (FPGA)";
                  break;
              case "UV":
                  text = "UV anti-biofouling system";
                  break;
              case "BEXP":
                  text = "Beam expander";
                  break;
              case "CCD":
                  text = "CCD and image intensifier";
                  break;
              case "HCB":
                  text = "Heater-control board";
                  break;
              case "HCBMODE":
                  text = "HCB heating mode"
                  break;
              case "CAM1":
                  text = "Rayfin camera #1";
                  break;
              case "CAM2":
                  text = "Rayfin camera #2";
                  break;
              case "LED1":
                  text = "UV LED #1";
                  break;
              case "LED2":
                  text = "UV LED #2";
                  break;
              case "power":
                  text = `Click button to toggle the power for a
      sub-system. The button will not change state until confimation is
      received from the PDU.`;
                  break;
              }

              return text;
          },
      },
      filters: {
          formatVal: function(x) {
              return Number(x).toPrecision(5);
          },
          formatTime: function(ts) {
              let m = moment(ts, "YYYY-MM-DDTHH:mm:ss.SSSSSSSSSZ");
              return m.format();
          }
      },
      created() {
          for (const sys of this.pwren) {
              this.powerState[sys] = false;
          }
          this.powerState['LASER5'] = false;
          this.powerState['LASER12'] = false;
          this.powerState['LASER28'] = false;

          // Attach SSE event handlers for each data source.
          const srcs = ['IMAGS', 'BMEPR', 'FSTAT', 'BSTAT'];
          let evSource = new EventSource("/pdu/stream", { withCredentials: true });
          let self = this;
          for (const src of srcs) {
              evSource.addEventListener("data.pdu."+src, function(e) {
                  self[src] = JSON.parse(e.data);
              });
          }
          // HCB messages
          for (const prop in this.HCB) {
              evSource.addEventListener("data.pdu.HCB."+prop, function(e) {
                  self.HCB[prop] = JSON.parse(e.data);
               });
          }
          // Power messages
          evSource.addEventListener("data.pdu.POWER", function(e) {
              const pwren = self.pwren.slice();
              pwren.push('LASER5');
              pwren.push('LASER12');
              pwren.push('LASER28');
              self.POWER = JSON.parse(e.data);
              for (const sys of pwren) {
                  if (Object.prototype.hasOwnProperty.call(self.POWER.data, sys)) {
                      self.powerState[sys] = self.POWER.data[sys];
                  }
              }
              self.laserPower = Object.assign({}, self.powerState);
          });

          // SSE event handlers for the processed ADC data
          for (const src of self.adcs) {
              evSource.addEventListener("proc.pdu."+src, function(e) {
                  self.proc[src] = JSON.parse(e.data);
              });
          }

          evSource.addEventListener("pdu.command", function(e) {
              if (e.data.startsWith("LDAC,")) {
                  self.ldacValue = parseInt(e.data.slice(5), 16);
              }

              if (e.data.startsWith("FDAC,")) {
                  self.fdacValue = parseInt(e.data.slice(5), 16);
              }

              if (e.data == "LASER,0") {
                  // Another client has disabled the laser, insure that
                  // our laser-watchdog is disabled.
                  self.$refs.lctl.stopWatchdog();
              }
          });
      },
}
</script>

<style>
body{
    background:#fff none repeat scroll 0;
    line-height:1;
    font-size: 12px;
    font-family: Verdana, Helvetica;
    height:100%;
    margin: 0;
    padding: 2em;
}

h1 {
    color:#6FA5FD;
    font-size:150%;
    font-weight:700;
    text-align: center;
}

h3 {
    font-weight: bold;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.table-box {
    display: -webkit-flex !important;
    display: flex !important;
    flex-wrap: wrap;
    flex: 300px;
}

a {
    cursor: pointer;
    text-decoration:none;
}

br.both {
    clear:both;
}

.units {
    color:#606060;
    font-size:80%;
    font-weight:200;
}

.label {
    color:#1F55AD;
    font-weight:500;
}

.small {
    font-size: 80%;
}

fieldset {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.inputs input[type=text] {
    background: #f1f1f1;
    padding: 15px 15px 15px 20px;
    margin: 0 0 10px 0;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.inputs .lock {
    margin: 0 0 10px 0;
    float: right;
}

.inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

button {
    cursor: pointer;
    text-align: center;
    opacity: 1;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border-width: 1px;
    border-style: solid;
    border-color: #0f0f0f;

    height: 45px;
    width: 90px;
    cursor: pointer;
    font: bold 1em Arial, Helvetica;
    margin: 0.5em;
}

button[disabled] {
    opacity: 0.3;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
  max-width: 250px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.infolink::after {
    content: '?⃝';
}

#vers {
    margin-top: 10px;
}

</style>
